# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Replit specific
.replit
.cache/
replit.nix
.config/
*.nix

# Environment variables
.env

# Logs and databases
*.log
*.sqlite3

# Temporary files
tmp/
temp/
.DS_Store

# uploads's docx and pdf files
uploads/*.docx
uploads/*.pdf

# instance folder's content
instance/*.db

# debug directory's content
debug/*.txt

# migrations
/migrations/

